<?xml version="1.0"?>
<configuration>
  <!-- Eric, for iBATIS framework logging -->
  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="iBATIS_logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WDAIIP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <iBATIS_logging>
    <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
      <arg key="configType" value="external"/>
    </logFactoryAdapter>
  </iBATIS_logging>
  <!-- / for iBATIS framework logging -->
  <configProtectedData>
    <providers>
      <add name="ChrisProtectedProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="ChrisKeys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <appSettings>
    <add key="webpages:Enabled" value="false"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ConnectionStringAES" value="BCB31F3F211C7C6D7FD9E2691DE74D4B2160C908CB27EFB1505C9AD24415383476C76271E3F74DB87D281302752EE5DCFD55D14D11AFE107FA822EA03951400065162D8541CAAEB28DA879A40C442A402F19D90F1D3DC4D73F21951DC4EB33889C7DF249C255CBFD7ECEA4AD54B221944EED9AC395A25A743ACB8281CE57C36FCBC578E6649DC2A946A0F257F29A0C58"/>
    <!--Initial Catalog=WDAIIP_D-->
    <!-- <add key="ConnectionStringAES" value="BCB31F3F211C7C6D7FD9E2691DE74D4B2160C908CB27EFB1505C9AD2441538349001A1C70F62987C2163DD4FFBD680C2320742781E7FE09DC4225F67865FC72DE30028B5AD7CED2C40DE2D51BD0D76A61B96DCE4579EF26F9012FC545F9FF095646EFDA00B28FFEFEEFAA6B74FDA4F9AB313B122B8583874C1527DE4E9EFD64A75AE693C76B8586908069C5261AEFDE3"/> -->
    <add key="WebFmRoot1" value="http://163.29.199.78/"/>
    <add key="Query" value="https://163.29.199.77/ReportServer3/report.do?"/>
    <!--<add key="Query2" value="https://163.29.199.77/ReportServer3/report?" />-->
    <add key="Query2" value="https://192.168.3.77/ReportServer3/report?"/>
    <!--add key="Query" value="http://163.29.199.77:8080/ReportServer3/report.do?" -->
    <!--add key="Query" value="http://192.168.3.77:8080/ReportServer3/report.do?" -->
    <!--<add key="printtest" value="Y" />-->
    <add key="Secret_Login" value="moica_login.aspx"/>
    <add key="DELXML" value="C:\Inetpub\wwwroot\TIMS\SYS\07\DELXML.CMD"/>
    <add key="XMLpath1" value="C:\Training\104\XML"/>
    <add key="from_emailaddress" value="ojt@msa.wda.gov.tw"/>
    <add key="MailServer" value="172.21.210.30"/>
    <add key="MailuserName" value="ojt@msa.wda.gov.tw"/>
    <add key="MailuserPwd" value="19EB519455F7200B5CBB307C21C7CB08"/>
    <add key="MaxCanMailCount" value="60"/>
    <add key="StopSendMail" value="Y"/>
    <add key="ErrorSendMail" value="Y"/>
    <add key="uploadPathString2" value="./Files/"/>
    <add key="syncUploadFolder" value="/upload/Files/"/>
    <add key="syncUploadEnable" value="0"/>
    <add key="syncUploadServer" value="127.0.0.1"/>
    <add key="syncUploadUser" value="TIMSX"/>
    <add key="syncUploadPW" value="turbo1234"/>
    <add key="syncUploadPort" value="21"/>
    <!--<add key="UploadPath" value="~/Upload" />-->
    <add key="UploadPath" value="/Upload"/>
    <add key="MapFTXLSXPath" value="~/Uploads/XLSX/"/>
    <add key="UPLOAD_OJT_Path" value="~/upojt"/>
    <add key="DOWNLOAD_OJT_Path" value="../../upojt"/>
    <add key="FunSort" value="TC,SD,CP,TR,CM,EXAM,CO,RWB,PS,SYS"/>
    <!--測試機url-->
    <!--<add key="DemoHttpUrl" value="http://163.29.199.236/DEMOTIME/Login.aspx" />-->
    <!--報表環境參數 TIMS為正式機 TEST測試機-->
    <add key="ReportQueryPath" value="TEST"/>
    <!--測試機關閉https-->
    <add key="httpsProtocol" value="ON"/>
    <!--就服站啟動-->
    <!--<add key="work2013" value="Y" />-->
    <!--材料明細-->
    <add key="work2013x01" value="Y"/>
    <!--手開推介單數量啟動-->
    <add key="work2013EpNum" value="N"/>
    <!--預計2015年開啟功能-->
    <add key="work2015" value="N"/>
    <!--通俗職類 預計2015年開啟功能-->
    <add key="cjob2015" value="N"/>
    <!--通俗職類 預計2016年9月開啟功能-->
    <!--<add key="cjob2016" value="2016" />-->
    <!--略過公司負責人的錯誤-->
    <add key="skipChkMasterError" value="Y"/>
    <!--系統服務網 停止服務時間-->
    <add key="stop_url" value="https://ojt.wda.gov.tw/stop3/"/>
    <add key="stop_stime" value="2020/04/20 09:59:00"/>
    <add key="stop_etime" value="2020/04/20 12:01:00"/>
    <!--<add key="stop_url" value="https://wltims.wda.gov.tw/stop2/" />-->
    <!--系統服務網 後台停止服務-->
    <add key="BackLogin" value="Y"/>
    <add key="Bk_Stop_Stime" value="2020/04/20 09:59:00"/>
    <add key="Bk_Stop_Etime" value="2020/04/20 12:01:00"/>
    <add key="REPLACE2ROC_YEARS" value="Y"/>
    <!--<add key="SD_01_004_IMPORT" value="Y" />-->
    <!--<add key="vs:EnableBrowserLink" value="true" />-->
    <!--為配合政府政策性產業推動，將分署06:自辦在職訓練、07:接受企業委託訓練2計畫增加【政府政策性產業】功能(項目同產投-->
    <add key="work2019x02" value="Y"/>
    <!--政府政策性產業-->
    <!--<add key="work2019x03" value="Y"/>-->
    <!-- 產投-分署轄區重點產業 2020-03-啟用-->
    <add key="work2020x03" value="Y"/>
    <!--區域產業據點職業訓練計畫(在職)-2021-->
    <add key="work2020x70" value="Y"/>
    <!--在職進修訓練-2021-->
    <add key="work2020x06" value="Y"/>
    <!--2025年啟用 work2025x01 :2025 政府政策性產業-->
    <add key="work2025x01" value="Y"/>
    <!--個資管控-log紀錄-啟用查詢原因-->
    <add key="INQUIRY" value="Y"/>
    <!--check host fix-->
    <add key="WebFmHost1" value="localhost,ojt.wda.gov.tw,ojtims.wda.gov.tw,wltest.wda.gov.tw,wlt.wda.gov.tw,wltims.wda.gov.tw,ojrept.wda.gov.tw,163.29.199.79,163.29.199.78"/>
    <!--某些班級可使用特殊規則-->
    <!--<add key="spec_PCSs1" value="4988x72821110x1"/>  -->
    <!--TGOS_API/MAP_AppID/MAP_APIKey-->
    <add key="MAP_AppID" value="6WHk1lNI6qJRJ7i03kPn5pxNzKut8ptCMEpDko+m5EoCR6M1Ed8sdw=="/>
    <add key="MAP_APIKey" value="cGEErDNy5yN/1fQ0vyTOZrghjE+jIU6u4rYNQS1GUkFBxd3ZHiqeh5mAKP7aMlPjvvhRPOB5WTX/sw03ACsmxINy9e5McjsfgZJRZcujEz7Ugr9ebMhL2ZH9UDLTi2Z8+FC1bdo+lTkxaObzX7cNkL/h97/3AsUlvucn8Y/nvEs8wVGPyTCXTChvdZwnYZ8vPlQ2N1YsG7kpN5no7aro34X8LVgffUtvBkDv6pvay4KqydZOIUgGUErdpje8z1fU2Sy26QL7D/WJV2yQkmA50slf+JZvAYNnY5L+xANC1+8KDTm5QSPS2kKksEeuU7z5DDItN9Hcb5WPEOMasAiK5BbhPOu533KfDgGzdjUbdySpX/JqjhWagsAYzHVTAffKvEutshgwIVtH6Zg7Een7sXMj5cvho9SbT2NDxPuvrg6EtgkuyhCrvg=="/>
    <!--WEB CONFIG 中請加入下列資訊 (測試機)-->
    <add key="ojt23021601_SDATE" value="2023/03/22"/>
    <add key="ojt23021601_EDATE" value="2023/04/26"/>
    <add key="ojt23021601_rblAppStage" value="2"/>
  </appSettings>
  <!--<secureAppSettings>
    <add key="ConnectionString" value="" />
  </secureAppSettings>-->
  <!-- Eric, for REST ISAPI handler module define -->
  <!-- 若Windows不是安裝在預設路徑 C:\Windows 下, 要修訂這裡的設定值 -->
  <!--
  <system.webServer>
    <handlers>
      <add name="RESTService_*" path="REST/*" verb="*" type="PoC.Web.Services.ReSTServiceHandler" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.Net\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="RESTServiceMethod_*" path="REST/*/*" verb="*" type="PoC.Web.Services.ReSTServiceHandler" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.Net\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="debug_Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  -->
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。
    您可以在 <httpRuntime> 標記上設定下列屬性。
  <system.Web>
    <httpRuntime targetFramework="4.5.1" />
  </system.Web>
  -->
  <system.web>
    <!--  設定最大資料流緩衝臨界值的限制 以KB為單位。    -->
    <!--  設定最大執行時間 以秒數為單位。    -->
    <!--  應用程式佇列要求的最大數目。    -->
    <!--  
    <httpRuntime maxRequestLength="12288" executionTimeout="900" ></httpRuntime>
    <httpRuntime maxRequestLength="10240" executionTimeout="900" appRequestQueueLimit="5000" />
    <httpRuntime maxRequestLength="20240" executionTimeout="900" appRequestQueueLimit="500" />
    <httpCookies httpOnlyCookies="true" />
    -->
    <identity configProtectionProvider="ChrisProtectedProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>HV5UOKFkuIps75/iAwcDDRGRysvBhB9TZpdNqo40XPjX8juUli8aKKQs/ZshT7CO/jAIznshxkKGIIKjGER0uyGoyRXfbVnTUT308iqOvrw9e6fhcyjU7FV7pzJEmk7Max6kNS+2rsAVO86jKaR4RSDvCn2Biq6fudn0Bvxsebk=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>nOqiSbcgmpPCKmK+sdFEDNst1acQKnklZZJpRx+IztAyNT4AnfU/08UrGcioSgy7fgLC1yXTQgcCuhrlD7TCS6PlAKcUMiqNeXpgnyqYf3bc9nW2n8kZNJM87BVUi02g</CipherValue>
        </CipherData>
      </EncryptedData>
    </identity>
    <!--
    <identity configProtectionProvider="ChrisProtectedProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>fQnZMuRkEhp6ixY0GDN5XfDeZkx7+8/c93UXn+o6y/jHSH5Nbgx2cfLpiI4XfbzUxN+hKvGylOKxUrtT4+Haamdo+/kWK4qj0EE4qLfboGJJgFAubom8ZszyFF8a5PcHkVp9GfgWMs2C+rNKSInjsDwzuVoBCNwEXF3WrsYAqe4=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>GUG5rY/Ah6clsTFxaW91ih8CU33XrmXA</CipherValue>
        </CipherData>
      </EncryptedData>
    </identity>
    -->
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <httpRuntime enableVersionHeader="false" maxRequestLength="20240" executionTimeout="900" appRequestQueueLimit="500"/>
    <!--  動態偵錯編譯
    設定 compilation debug="true" 會將偵錯符號 (.pdb 資訊) 插入編譯的網頁。          
    這樣將會建立較大的檔案並使執行速度變慢。          
    一般只在偵錯時將這個值設為 true，其他情況都設為 false。          
    如需詳細資訊，請參閱偵錯 ASP.NET 檔案相關的文件。    
    <compilation defaultLanguage="vb" debug="false" targetFramework="4.5.1" />
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.5.1" />
    -->
    <compilation defaultLanguage="vb" debug="false" targetFramework="4.8.1"/>
    <!-- Eric, for REST service handler mapping -->
    <!--
    <httpHandlers>
    <add verb="*" path="REST/*" type="PoC.Web.Services.ReSTServiceHandler, PoC.Web.ReSTService" />
    <add verb="*" path="REST/*/*" type="PoC.Web.Services.ReSTServiceHandler, PoC.Web.ReSTService" />
    </httpHandlers>
    -->
    <!--  
    自訂錯誤訊息
    設定 customErrors mode="On" 或 "RemoteOnly" 來啟用自訂錯誤訊息，"Off" 則為停用。 
    請對每個您要處理的錯誤，加入相對應的 <error> 標記。
    "On" 永遠顯示自訂 (易讀) 訊息。          
    "Off" 永遠顯示詳細的 ASP.NET 錯誤資訊。          
    "RemoteOnly" 僅顯示自訂 (易讀) 訊息給不在區域 Web 伺服器上的使用者。          
    針對安全性目的，建議您使用這項設定， 
    這樣子您就不會將應用程式的詳細資訊顯示給遠端用戶端。    

    <customErrors mode="On" defaultRedirect="AppError.aspx"/>
    <customErrors mode="Off" defaultRedirect="AppError.aspx" />
    <customErrors mode="Off" />
    <customErrors mode="RemoteOnly" />
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  驗證 
          這個區段將設定應用程式的驗證原則。可能的模式包括 "Windows"、          
          "Forms"、"Passport" 與 "None"

          "None" 沒有執行任何的驗證。 
          "Windows" IIS 會根據其針對應用程式所做的設定來執行驗證 (基本、摘要式或整合式 Windows 驗證) 
           IIS 的匿名存取功能必須停用。 
          "Forms" 提供自訂表單 (網頁) 讓使用者輸入他們的憑證， 
           然後在應用程式中驗證其憑證。使用者憑證 Token 儲存在 Cookie 中。          
           "Passport" 驗證是經由 Microsoft 所提供的中央驗證服務而執行，
           此中央驗證服務可替成員網站提供單一登入與核心設定檔服務。    
      <authentication mode="Forms">
        <forms name="timsauth" path="/" loginUrl="MOICA_Login.aspx" timeout="20">
        </forms>
      </authentication>
      <authentication mode="None" />
    -->
    <authentication mode="Forms">
      <forms name="wdaiipauth" path="/" loginUrl="MOICA_Login" timeout="11" requireSSL="true"/>
    </authentication>
    <!--  授權 
          這個區段將設定應用程式的授權原則。
          您可以允許或拒絕不同使用者或角色存取應用程式資源。          
          萬用字元: "*" 代表所有的人、
          "?" 代表匿名 (未驗證的) 使用者。    -->
    <!-- 不允許匿名使用者 -->
    <!--  
    <allow users="[使用逗號分隔的使用者清單]" roles="[使用逗號分隔的角色清單]"/>
    <deny  users="[使用逗號分隔的使用者清單]" roles="[使用逗號分隔的角色清單]"/>
    <deny users="?" />
    <authorization> <deny users="?"/> </authorization>
    <authorization> <allow users="*" /> </authorization>
    -->
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--  應用程式層級追蹤記錄
          應用程式層級追蹤啟用應用程式中每一頁面的追蹤記錄檔輸出。          
          設定 trace enabled="true" 將啟用應用程式追蹤記錄。如果 pageOutput="true"，追蹤資訊將顯示
          在每一頁面的下方。此外，您也可以從 Web 應用程式的根目錄透過瀏覽 "trace.axd" 頁面的方式來檢視
          應用程式的追蹤記錄檔。    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  工作階段狀態設定          
    根據預設，ASP.NET 會使用 Cookie 來識別哪些要求是屬於某個特定工作階段。          
    如果無法使用 Cookie，您也可以將工作階段識別項加入到 URL 來追蹤工作階段。          
    若要停用 Cookie，請設定 sessionState cookieless="true"。    
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <sessionState mode="StateServer" stateConnectionString="tcpip=192.168.3.78:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    -->
    <machineKey configProtectionProvider="ChrisProtectedProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc"/>
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5"/>
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>V4410tvRcFeeck1ly3/ROYdKqFSDi6vyzG4jjkhtXTjMC2MKUptLhOqhEpIaRjgQgCnWaWACLfZsRaC/je13K1fZNpYsExXRLg2rEuRKfyws7qQxVa1egqSuhSbfluXMtY8HbcL/JNHrmRJMuDPIbcwb/ggQ8uVWRNqcqYmZuHc=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>aKaZEOvAluCKU3LurlFsh+0IJgrInEhI1f9XHEnwugCAL6/mouxqv84RVXGjUWMK1UuaweFd5gffWPDtVrGIHf1GrLzg6tol+csh+3Rz3qj9W+TpjjwpjRqKhkG8pO4tg8HNqBEhGa9IEaxuLCz+N7jzkiN0jsJ2tSN3PwSEYy/mo8r4BdqUdhZm9wfvl/S48B3QmgyOavKPSHoTB9jVhUkXgPKuQD5NEWFUjG+zj4ItEVkPlCCJIobc7pBnGvV3Ozd1cGs6y79DfM5bz7yUnPSTpX/U/oa0ZOR3XiBakiL1FcEwy9aBSi/sN03zdBmYkp3I3RAEJ/6lb0eKb1y5r8D5vy361DkHqAetRqDbxW1ovKIhD0BnGbBJwr8TmeazQs9rITFtVAS0FbKCR1dPJtgZeLC5IaK139gzAyfvXQR9uIzsimDxFpHWCqk++PQscv4I0SFq4SY052hlhEGv8IIizweKuZPHgmVQTGbJchelRXQ9rLLC/qLIq1dfotkWZK45N0YY5bfCfMqWHrt+ILTKPVp3mpZcdQ74fm8XKTLGEAqxlMj3gcPNjscOg3NGgNQ7s/CCmI/1B6NzhIU5mBlCkmR32GKB</CipherValue>
        </CipherData>
      </EncryptedData>
    </machineKey>
    <sessionState cookieless="UseCookies" mode="StateServer" sqlConnectionString="data source=OWASP;Trusted_Connection=yes; Encrypt=yes;" stateConnectionString="tcpip=OWASP:42424" timeout="15"/>
    <!-- 全球化設定 此區段用來設定應用程式全球化選項。    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!--
    enableViewStateMac:取得或設定值，這個值表示從用戶端回傳網頁時，ASP.NET 是否應該檢查網頁檢視狀態中的訊息驗證碼 (MAC)。
    enableEventValidation:取得或設定值，指出頁面是否驗證回傳和回呼事件。
    viewStateEncryptionMode:取得或設定檢視狀態的加密模式。
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewStateMac="false" enableEventValidation="true" viewStateEncryptionMode="Always">
      <controls>
        <add src="~/WUC2.ascx" tagPrefix="uc1" tagName="WUC2"/>
        <add src="~/WUC1.ascx" tagPrefix="uc1" tagName="WUC1"/>
        <add src="~/PageControler.ascx" tagPrefix="uc1" tagName="PageControler"/>
      </controls>
    </pages>
    <!-- <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="3DES" decryption="3DES"/> -->
    <!--
    選擇性的 String 屬性，指定 ASP.NET 應用程式的 XHTML 呈現模式。模式可以是在下表中列出的其中一個值。預設值為 Transitional (XHTML 1.0 Transitional)。
    Transitional:XHTML 1.0 Transitional
    Strict:XHTML 1.0 Strict 一致性
    Legacy:為了一致性，會將所做的一些呈現變更還原成 v1.1 的呈現行為。
    -->
    <xhtmlConformance mode="Legacy"/>
  </system.web>
  <location path="ECFA_Send">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Upload">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="uiouio">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WebCor12171">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DBConsole2">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="GetJobMail3">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="TIMSWS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="bli_wsv4">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OJTWS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Common/ValidateCode.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Common/ValidateCode">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MOICA_upload.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MOICA_upload">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MOICA_Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="MOICA_Login"><system.web><authorization><allow users="*" /></authorization></system.web></location>-->
  <location path="SQControl.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SYS/05/SYS_05_002_add.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="TC/01/TC_01_001_add.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="TC/01/TC_01_007_add.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="SYS/05/SYS_05_003.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="RWB/01/RWB_01_007_edit.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="RWB/01/RWB_01_008_edit.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
      <pages enableEventValidation="true"/>
    </system.web>
  </location>
  <location path="stopindex.htm">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="login">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="eforgetPwd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="emailChgPwd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="eShwUsrInfo">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="WRS001002">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="wdaOLAP1">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="upojt">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--<add key="Secret_Login" value="USERID_Login.aspx" />-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!-- rewrite -->
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true"/>
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload"/>
        </rule>
        <rule name="Remove ETag">
          <match serverVariable="RESPONSE_ETag" pattern=".+"/>
          <action type="Rewrite" value=""/>
        </rule>
      </outboundRules>
    </rewrite>
    <!-- rewrite -->
    <httpRedirect enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Cache-Control" value="no-cache,no-store"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!-- <add name="X-XSS-Protection" value="1; mode=block"/> -->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains"/>
        <add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' api.tgos.tw gis.tgos.tw www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net code.highcharts.com code.jquery.com ajax.googleapis.com maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net www.facebook.com; img-src 'self' www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' ws: wss:;"/>
        <!-- <add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' api.tgos.tw gis.tgos.tw www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net code.highcharts.com code.jquery.com ajax.googleapis.com maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net www.facebook.com; img-src 'self' www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' ws: wss:;" /> -->
        <!-- <add name="content-security-policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' api.tgos.tw gis.tgos.tw www.gstatic.com www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net code.highcharts.com code.jquery.com ajax.googleapis.com maxcdn.bootstrapcdn.com; style-src 'self' 'unsafe-inline' www.gstatic.com fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net www.facebook.com; img-src 'self' www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net; connect-src 'self' ws: wss:;" /> -->
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <add value="moica_login"/>
        <add value="moica_login.aspx"/>
      </files>
    </defaultDocument>
    <urlCompression doStaticCompression="false" doDynamicCompression="false"/>
    <staticContent>
      <remove fileExtension=".odt"/>
      <remove fileExtension=".odp"/>
      <remove fileExtension=".bak"/>
      <remove fileExtension=".log"/>
      <remove fileExtension=".okgo"/>
      <remove fileExtension=".7z"/>
      <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text"/>
      <mimeMap fileExtension=".odp" mimeType="application/vnd.oasis.opendocument.presentation"/>
      <mimeMap fileExtension=".bak" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".log" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".okgo" mimeType="text/plain"/>
      <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <WDAIIP.My.MySettings>
      <setting name="WDAIIP_SYS_Net_SendMailws3_Service1" serializeAs="String">
        <value>https://wltims.wda.gov.tw/GetJobMail3/Service1.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_ITSWebc_twsITSWebc" serializeAs="String">
        <value>https://wltims.wda.gov.tw/ITSWebc/twsITSWebc.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_timsService1_timsService1" serializeAs="String">
        <value>https://wltims.wda.gov.tw/TIMSWS/timsService1.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_bli_wsv4_get_data3" serializeAs="String">
        <value>https://wltims.wda.gov.tw/bli_wsv4/get_data3.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_tw_gov_wda_wltims_StudentSchedules"
        serializeAs="String">
        <value>https://wltims.wda.gov.tw/WdaLine/StudentSchedules.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_tw_gov_wda_wltims1_iCapWebS1" serializeAs="String">
        <value>https://wltims.wda.gov.tw/iCapWeb/iCapWebS1.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_tw_gov_wda_wltims2_TeacherSchedules"
        serializeAs="String">
        <value>https://wltims.wda.gov.tw/WdaLine/TeacherSchedules.asmx</value>
      </setting>
      <setting name="WDAIIP_SYS_Net_ttqsservice1_ttqs_service_1" serializeAs="String">
        <value>https://wltims.wda.gov.tw/GetJobMail3/ttqs_service_1.asmx</value>
      </setting>
    </WDAIIP.My.MySettings>
  </applicationSettings>
</configuration>